form {
    .input-wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0;

        p {}

        label {
            font-weight: bold;
        }

        input {
            padding: 5px;
            font-size: 1.2rem;

        }

        .unvalid {
            color: red;
            opacity: 0;
            margin: 0;

            &.show {
                opacity: 1;
            }
        }
    }

    .input-remember {
        display: flex;
        justify-content: start;
        width: 100%;

        label {
            margin-left: 0.25rem;
        }
    }

    .sign-in-button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
    }
}